@font-face {
  font-family: 'Sofia';
  src: url(../fonts/Sofia-Regular.ttf);
}

@font-face {
  font-family: 'Itim';
  src: url(../fonts/Itim-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 1 999;
}

:root {
  --heading-font: 'Sofia', sans-serif;
  --byline-font: 'Itim', sans-serif;
  --site-font: 'Quicksand', sans-serif;
  --font-color: #00303f;
  --secondary-color: #c7effe;
  --tertiary-color: #ffd931;
}

html {
  font-size: 18px;
}

body {
  background-image: url(../images/clouds/clouds.jpg);
  font-family: var(--site-font);
  color: var(--font-color);
  margin: 0;
}

body.menu {
  background: repeating-linear-gradient(#fbf9f5, transparent 200px, transparent 1000px, #fbf9f5 1277px), 
              url(../images/clouds/clouds.jpg);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: var(--heading-font);
  font-size: 8vw;
}

.tabs {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  border-bottom: 4px solid var(--tertiary-color);
  padding: 0.5rem 1rem 0;
}

.tab {
  background-color: var(--secondary-color);
  color: var(--font-color);
  border: 4px solid var(--tertiary-color);
  border-bottom: none;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 1.5rem;
  min-width: 20vw;
  padding: 0.25rem;
}

.tab.current {
  background-color: white;
}

.tab:hover {
  background-color: var(--font-color);
  color: var(--tertiary-color);
}
